{% extends 'base.html.twig' %}

{% block title %} Edycja artykulu {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/editarticle.css') }}"> {% endblock %}

{% block section %}

<section id="editArticle">


        <header>Edycja artykułu</header>


        <form method="POST" >

        <div class="item">

            <label for=title>Tytuł: </label>

            <input type="text" name="title" id="title" value ="" >

        </div>




        <div class="item" id="authors">

            <label class="labelAuthors">Autorzy: </label>

            <input type="text" name="authors[]" class="authors" value = ""> <span class="firstSpan">,</span>

            <input type="number" class="shares" name="shares[]" value ="" ><span class="secondSpan">% udziału</span>

            <div id="simulateSpace">

        </div>

        



    </div>

        <div class="item">

        <div id="addAuthorButton" onclick=' . "newAuthor()" . '>Dodaj nowego autora</div>

    </div>



    <div class="item">

        <label for=POP>Miejsce publikacji: </label>

        <input type="text" name="POP" id="POP" value = "" >

    </div>



    <div class="item">

        <label for=DOP>Data publikacji: </label>

        <input type="date" name="DOP" id="DOP" value = "" >

    </div>




    <div class="item">

        <label for=MP>Punkty ministerialne: </label>

        <input type="number" name="MP" id="MP" value ="" >

    </div>';





    <div class="item">

        <label for=DOI>DOI: </label>

        <input type="text" name="DOI" id="DOI" value ="">

    </div>

    <div class="item">

        <label for=IF>IF: </label>

        <input type="number" step = "0,01" name="IF" id="IF" value ="" >

    </div>



  

    <input type="submit" value="Edytuj">



</form>



</section>

{% endblock %}