{% extends 'base.html.twig' %}

{% block title %} Strona Główna {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/index.css') }}"> {% endblock %}

{% block section %} 

<section id="index">
    <form method="POST">
        <div id="searcher">
            <header>Strona główna - Wyszukiwarka</header>
            <div id="magnifier">
                <img src="./../img/search.png" alt="lupa">
            </div>

            <ul>
                <?php foreach( ($ids as $id): ?>
                </li>
                    <?php echo $id ?>
                </li>
                <?php endforeach ?>
            </ul>


            {{ form_start(form)}}
            {{ form_widget(form)}}
            {{ form_end(form)}}
        </div>
    </form>
</section>
{% endblock %}