{% extends 'base.html.twig' %}

{% block title %} Dodanie artykułu {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/addArticle.css') }}"> {% endblock %}

{% block section %}


<section id="addArticle">
    <header>Dodowanie nowego artykułu</header>

    <form method="POST" action="./../src/saveArticle.php">
        <div class="item">
            <label for=title>Tytuł: </label>
            <input type="text" name="title" id="title">
        </div>

        <div class="item" id="authors">
            <label class="labelAuthors">Autorzy: </label>
            <input type="text" name="authors[]" class="authors" placeholder="Nazwisko Imie"> <span class="firstSpan">,</span>
            <input type="number" class="shapes" name="shapes[]"><span class="secondSpan">% udziału</span>
            <div id="simulateSpace"></div>
        </div>

        <div class="item">
            <div id="addAuthorButton" onclick='newAuthor()'>Dodaj nowego autora</div>
        </div>

        <div class="item">
            <label for=POP>Miejsce publikacji: </label>
            <input type="text" name="POP" id="POP">
        </div>

        <div class="item">
            <label for=DOP>Data publikacji: </label>
            <input type="text" name="DOP" id="DOP" placeholder="YYYY/MM/DD">
        </div>

        <div class="item">
            <label for=MP>Punkty ministerialne: </label>
            <input type="number" name="MP" id="MP">
        </div>

        <div class="item">
            <label for=DOI>DOI: </label>
            <input type="text" name="DOI" id="DOI">
        </div>

        <div class="item">
            <label for=IF>IF: </label>
            <input type="number" name="IF" id="IF">
        </div>

        <input type="submit" value="Dodaj">

    </form>

</section>

{% endblock %}