section#changePassword form{
    margin: 0 auto 0;
    box-sizing: border-box;
    margin-bottom: 25px;
}

section#changePassword .flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 50px;
    border-radius: 15px;
}

section#changePassword #formTitle{
    font-weight: bold;
    font-size: 28px;
    margin-top: -10px;
    margin-bottom: 15px;   
    color: white;  
}

section#changePassword .flex:nth-of-type(1){
    margin-top: -10px;
}

section#changePassword input{
   border-radius: 15px;
   border: 5px solid black;
   padding-left: 15px;
   font-size: 21px;
}

input:focus{
    outline: none;
}

section#changePassword input[type=submit]{
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 2px 2px #FFFFFF ;
}

section#changePassword input[type=submit]:hover{
    box-shadow: 0 0 5px 5px #DDDDDD ;
    cursor: pointer;
}

section#changePassword{
    height: auto;
}

section#changePassword a{
    text-decoration: none;
    color: #FFFFFF;
}

section#changePassword .center a:hover{
    color: #EEEEEE;
}

section#changePassword .center{
    margin: 0 auto 0;
    flex-wrap: wrap;
    display: flex;
}

.center:nth-of-type(2){
    font-size: 21px;
}

section#changePassword .bold{
    font-weight: bold;
    font-size: 28px;
    color: black;
}

section#changePassword span{  
    font-size: 21px;
}