body{
    background-color:lightgray;
    margin: 0;
    padding: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container{
    width: 1280px;
    border: 1px solid red;
    margin: 0 auto 0;
    border-top: none;
    border-bottom: none;
    padding-bottom: 15px;
    box-sizing: border-box;
    background-color: rgba(125,0,0,0.5);
}

#logo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}