section#index{
    width: 95%;
    margin: 0 auto 0;
}

section#index input[type=text]{
    width: 90%;
    height: 25px;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-top: 25px;
}

section#index #searcher{
    display: flex;
    flex-wrap: wrap;
}

section#index #magnifier{
    width: 75px;
    height: 75px;
}

section#index img{
    width: 100%;
    height: 100%;
}

section#index #checkBoxer{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

section#index label{
    font-size: 40px;
}

section#index label:hover{
    cursor: pointer;
}


section#index input[type=checkBox]{
    width: 25px;
    height: 25px;
}

section#index .oneCheckBox{
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: left;
}

section#index header{
    font-size: 78px;
    color: white;
    text-shadow: 0 0 5px green;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
}

section#index input[type=submit]{
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 28px;
    letter-spacing: 3px;
    margin-top: 25px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 2px #FFFFFF ;
}

section#index input[type=submit]:hover{
    width: 325px;
    height: 55px;
    background-color: #222222;
    font-size: 33px;
    cursor: pointer;
    color: #EEEEEE;
    box-shadow: 0 0 5px 5px #DDDDDD ;
    margin-top: 20px;
}


/* Wyszukiwanie artykułów */

section#index table{
    width: auto;
    border: 1px solid black;
    margin: 10px auto 10px;
    border-spacing: 0;
    font-size: 21px;
}

section#index th, section#index td{
    border: 1px solid black;
    padding: 2px 5px 2px;
}

section#index table.inside{
    border: none;
}

section#index table.inside td{
    border: none;
}

section#index .disable{
    display: none;
}

section#index header{
    font-size: 78px;
    border-bottom: 3px solid black;
    color: white;
    text-shadow: 0 0 5px green;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
