section#manageUsers table{
    width: auto;
    border: 1px solid black;
    margin: 10px auto 10px;
    border-spacing: 0;
    font-size: 21px;
}

section#manageUsers th, section#manageUsers td{
    border: 1px solid black;
    padding: 5px 10px 5px;
    box-sizing: border-box;
}

section#manageUsers .none{
    display: none;
}

section#manageUsers .disable{
    display: none;
}

section#manageUsers header{
    font-size: 78px;
    border-bottom: 3px solid black;
    color: white;
    text-shadow: 0 0 5px green;
    padding-bottom: 5px;
    margin-bottom: 5px;
}