/* #content{
    width: 95%;
    border: 1px solid black;
    margin: 0 auto 0;
    height: 500px;
    margin-bottom: 15px;
    position: relative;
}

input[type=submit]{
    width: 400px;
    height: 75px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 47px;
    border:3px solid white;
    box-sizing: border-box;

    position: absolute;
    bottom: 15px;
    left: 408px;
}

input:focus{
    outline: none;
}

input:hover{
    cursor: pointer;
}

table{
    width: auto;
    border: 1px solid black;
    margin: 10px auto 0;
    border-spacing: 0;
    font-size: 21px;
    font-weight: bold;
}

th, td{
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

table.inside{
    border: none;
    padding: 0;
    margin: 0 auto 0;
    width: 100%;
    font-size: 17px;
}

table.inside td{
    padding: 0;
    border:none;
} */