section#profile #upPanel{
    border-bottom: 2px solid black;
    text-align: left;
    width: 100%;
    margin: 0 auto 0;
    padding-bottom: 15px;
    position: relative;
}

section#profile #name{
    font-size: 77px;
    color: black;
    font-weight: bold;
    text-align: center;
}

section#profile #affiliation{
    margin-left: 100px;
}

section#profile .bold{
    font-weight: bold;
}

section#profile .medium{
    font-size: 50px;
}

section#profile .medium-low{
    font-size: 40px;
}

/* Bottom Panel */

section#profile #bottomPanel{
    width: 100%;
    padding-top: 15px;
}

section#profile .big{
    font-size: 100px;
}

section#profile li{
    text-align: left;
    font-size: 44px;
    margin-left: 100px;
}

section#profile .flex{
   display: flex;
   flex-wrap: wrap; 
   /* border: 1px solid white; */
}

section#profile .disable{
    display: none;
}

section#profile input[type=submit]{
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 21px;
    letter-spacing: 3px;
    box-shadow: 0 0 2px 2px #FFFFFF ;
    position: absolute;
    right: -50px;
    top: 15px;
}

section#profile input[type=submit]:hover{
    background-color: #222222;
    cursor: pointer;
    color: #EEEEEE;
    box-shadow: 0 0 5px 5px #DDDDDD ;
}

section#profile #articleList{
    width: 90%;
}

section#profile .relative{
    position: relative;
}

section#profile #changePassword{
    position: absolute;
    right: 50px;
    bottom: 25px;
    width: 225px;
    height: 45px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 37px;
    border: 1px solid white;
    text-align: center;
}

section#profile #changePassword:hover{
    box-shadow: 0 0 2px 2px white;
    cursor: pointer;
}