section#login form, section#register form{
    margin: 0 auto 0;
    box-sizing: border-box;
    margin-bottom: 25px;
}

section#login #form > div, section#register #form > div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 50px;
    border-radius: 15px;
}

section#login #formTitle, section#register #formTitle{
    font-weight: bold;
    font-size: 28px;
    margin-top: -10px;
}

section#login .flex:nth-of-type(1), section#register .flex:nth-of-type(1){
    margin-top: -10px;
}

section#login input, section#register input{
   width: 100%;
   border-radius: 15px;
   border: 5px solid black;
   padding-left: 15px;
   font-size: 21px;
}

input:focus{
    outline: none;
}

section#login input[type=submit], section#register input[type=submit]{
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 28px;
    letter-spacing: 3px;
    margin-top: -25px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 2px #FFFFFF ;
}

section#login input[type=submit]{
    margin-top: 10px;
}

section#register input[type=submit]:hover, section#login input[type=submit]:hover{
    width: 325px;
    height: 55px;
    background-color: #222222;
    font-size: 33px;
    cursor: pointer;
    color: #EEEEEE;
    margin-top: -15px;
    box-shadow: 0 0 5px 5px #DDDDDD ;
}

section#login input[type=submit]:hover{
    margin-top: 20px;
}

section#login{
    height: 325px;
}

section#register{
    height: auto;
}

section#login label, section#register label{
    display: block;
    font-weight: bold;
    font-size: 24px;
}

section#login a, section#register a{
    text-decoration: none;
    color: #FFFFFF;
}

section#login .center a:hover, section#register .center a:hover{
    color: #EEEEEE;
}

section#login input[type=checkbox], section#register input[type=checkbox]{
    width: 18px;
    height: 18px;
    padding-left: none;
    margin-top: 7px;
}

section#login .center, section#register .center{
    margin: 0 auto 0;
    flex-wrap: wrap;
    display: flex;
}

.center:nth-of-type(2){
    font-size: 21px;
}

section#login .bold, section#register .bold{
    font-weight: bold;
    font-size: 28px;
    color: black;
}

section#login span, section#register span{  
    font-size: 21px;
}

section#register .mb{
    margin-top: -30px;
    margin-bottom: 30px;
}

.required{
    margin: 0 auto 0;
    display: none;
}

#form_save{
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 28px;
    letter-spacing: 3px;
    margin: 15px auto 0;
    box-shadow: 0 0 2px 2px #FFFFFF ;
}