.left{
    text-align: left;
    margin-left: 150px;
}

.bold{
    font-weight: bold;
}

.medium{
    font-size: 25px;
}

.medium-low{
    font-size: 18px;
}

.mt{
    margin-top: 15px;
}

.high{
    font-size: 37px;
}

.left-low{
    text-align: left;
    margin-left: 100px;
}