section#toDoc table{
    width: auto;
    border: 1px solid black;
    margin: 10px auto 10px;
    border-spacing: 0;
}

section#toDoc th, section#toDoc td{
    border: 1px solid black;
    padding: 2px 5px 2px;
}

section#toDoc table.inside{
    border: none;
}

section#toDoc table.inside td{
    border: none;
}

section#toDoc .disable{
    display: none;
}

section#toDoc header{
    font-size: 78px;
    border-bottom: 3px solid black;
    color: white;
    text-shadow: 0 0 5px green;
    padding-bottom: 5px;
    margin-bottom: 5px;
}