{% extends 'base.html.twig' %}

{% block title %} Jak korzystać z wyszukiwarki {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/searchHelper.css') }}"> {% endblock %}

{% block section %} 

<section id="searchHelper">
    <header class="high bold">Jak korzystać z wyszukiwarki</header>

    <div class="mt">
        <div class="bold medium left">Wyszukiwanie po zakresie dat</div>
        <div class="description medium-low left-low">Należy użyć dokładnego wyrażenia w postaci <span class="bold medium">YYYY-YYYY</span> np: <span class="bold medium">2015-2020</span> i nic więcej do tego nie dodawać.</div>
    </div>

    <div class="mt">
        <div class="bold medium left">Wyszukiwanie po dokładnej dacie</div>
        <div class="description medium-low left-low">Należy użyć dokładnego wyrażenia w postaci <span class="bold medium">YYYY-DD-MM</span> np: <span class="bold medium">2019-11-22</span></div>
    </div>

    <div class="mt">
        <div class="bold medium left">Artykuły również możesz wyszukać po: </div>
        <div class="medium-low left-low">DOI</div>
        <div class="medium-low left-low">Imię Autora</div>
        <div class="medium-low left-low">Nazwisko Autora</div>
        <div class="medium-low left-low">Miejsce publikacji</div>
        <div class="medium-low left-low">Tytule pracy</div>
    </div>

    <div class="mt bold medium"> Wystarczy, że wpiszesz jedno słowo, a zostaną wyszukane wszytkie artykuły, które zawierają te słowo.</div>
    <div class="mt"></div>

</section>

{% endblock %}