{% extends 'base.html.twig' %}

{% block title %} Niepoprawne logowanie {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/regLog.css') }}"> {% endblock %}

{% block section %} 

<section id="register">
    <h1>Niepoprawne dane logowania<h1>
</section>
{% endblock %}