{% extends 'base.html.twig' %}

{% block title %} Logowowanie {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/regLog.css') }}"> {% endblock %}

{% block section %} 

<section id="login">
    {{ form_start(form)}}
    {{ form_widget(form)}}
    {{ form_end(form)}}
</section>

{% endblock %}