{% extends 'base.html.twig' %}

{% block title %} Poprawne logowanie {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/regLog.css') }}"> {% endblock %}

{% block section %} 

<section id="register">
    <h1>Poprawne logowanie<h1>
</section>
{% endblock %}