{% extends 'base.html.twig' %}

{% block title %} Kontakt {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/contact.css') }}"> {% endblock %}

{% block section %} 

<section id="contact">
    <p>W razie jakichkolwiek pytań, proszę pisać na adres: sd41642@zut.edu.pl</p>
    <p> Postaramy się odpisać jak najszybciej.</p>
    <p>Miłego dnia! </p>
</section>

{% endblock %}