{% extends 'base.html.twig' %}

{% block title %} Regulamin {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href ="{{ asset('./css/regulations.css') }}"> {% endblock %}

{% block section %} 

<section id="regulations">
    <h2>Regulamin</h2>
    <ol>
        <li><span>Wyrażam zgodę na przetwarzanie moich danych osobowych przez firmę "beznazwy".</span></li>
        <li>Serwis gromadzi i udostępnia wpisy zawierajce dane<sup>1</sup> pracy naukowej / prac naukowych.</li>
        <li>Po zarejestrowaniu i zalogowaniu, użytkownik uzyskuje dostęp do zarzadzania swoimi artykułami.</li>
        <li>Wpisy wulgarne lub zawierające fałszywe informacje będą usuwane/modyfikowane przez administratora serwisu.</li>
        <li>Administrator serwisu zastrzega sobie prawo do blokowania i usuwania kont użytkowników.</li>
        <br>
        <sup>1</sup> tytuł pracy, autor, współautor/rzy, Identyfikator (DOI), Udziały(shares), Punkty Ministerialne(MP), Wskaźnik cytowań(IF), Data publikacji(DOP), Miejsce Publikacji(POP), punkty ministerialne na autora (MPPA).
    </ol>
</section>

{% endblock %}