<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Default Title {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">

    <link rel="stylesheet" href ="{{ asset('./css/global.css') }}">
    <link rel="stylesheet" href ="{{ asset('./css/menu.css') }}">
    <link rel="stylesheet" href ="{{ asset('./css/footer.css') }}">

    {% block stylesheet %} {% endblock %}
</head>

<body>
    <div id="container">

        {% block menu %} {% include 'menu.html.twig' %} {% endblock %}
       
        {% block section %} {% endblock %}

        <footer>
            <div><a href = "regulations">Regulamin</a></div> 
            <div><a href = "contact">Kontakt</a></div>
        </footer>
    </div>

    <script src = "./js/main.js"> </script>
    {% block javascripts %} {% endblock %}
</body>
</html>