{# Test #}
{# {% set user = 'user' %} #}
{% set userRole = app.session.get('userRole') %}
{# {% set user = app.session.get('session') %} #}

{% block menu %} 
    {% if (userRole == "user") %}
        <div id = "menu"> 
            <ol>
                <li><a href="/">Strona głowna</a></li>
                <li><a href="/searchHelper">Jak używać wyszukiwarki</a>
                <li><a href="/addArticle">Dodaj artykuł</a>
                <li><a href="/profile">Profil</a>
                <li><a href="/logout">Wyloguj</a>
            </ol>
        </div>
    {% elseif (userRole == "admin") %}
    <div id = "menu"> 
        <ol>
            <li><a href="/index.php">Strona głowna</a></li>
            <li><a href="/searchHelper">Jak używać wyszukiwarki</a>
            <li><a href="/addArticle">Dodaj artykuł</a>

            <li><a href = "#">Zarządzaj</a>
                <ul>	
                    <li><a href="/manageUsers">Użytkownicy</a></li>
                    <li><a href="/manageArticles">Artykuły</a></li>
                </ul>
            </li>

            <li><a href="/profile">Profil</a>
            <li><a href="/logout">Wyloguj</a>
        </ol>
    </div>
    {% else %}
        <div id = "menu"> 
            <ol>
                <li><a href="/">Strona głowna</a></li>
                <li><a href="/searchHelper">Jak używać wyszukiwarki</a>
                <li><a href="/register">Rejestracja</a>
                <li><a href="/login">Logowanie</a>
            </ol>
        </div>
    {% endif %}
{% endblock %}